<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.safiyaakhtar.application">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.spash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Home_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Login_Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Semester"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Cradits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Login_Set_Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.About_Us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Fetch_Syllabus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.No_Data"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.Login" />
        <activity android:name=".Activity.Forget_Password"></activity>
    </application>

</manifest>